/* 
    Palette:
    #333333 -Slightly Brighter Black
    #6fab5e -Green
    #a1aa91 -Dull Greyish Green
    #ccf2ab -Pastel Yellowish Green
    #cccccc -Slightly Darker White

    Alt. Palette (https://coolors.co/cadde6-bde0de-6dbbad-00b36a-515e65):
    #cadde6 -Background (Light Steel Grey)
    #bde0de -Card Background (Pale Minty Green)
    #6dbbad -Dull Accent (Slightly Bluish Green)
    #00b36a -Accent (Green)
    #515e65 -Body (Greyish Black)
*/

/* #region macro styling */
    html {
        font-family: 'Roboto', sans-serif;
        background-color: #cadde6;
        color: #515e65;
    }
    h1, h2 {
        font-family: 'Merriweather', serif;
        color: #00b36a;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    a {
        color: #00b36a;
    }
    a:visited {
        color: #6dbbad;
    }
    a:focus, a:hover {
        background-color: #bde0de;
        color: #515e65;
    }
    a:active {
        background-color: #bde0de;
        color: black;
    }
/* #endregion */

/* #region header styling */
    header {
        text-align: center;

        padding: 1rem;
        margin: 5% 5% 0;
    }

    header img {
        max-width: 50%;
        border-radius: 100%;
    }

    header p {
        font-size: 1.15rem;
    }
    
    header h2 {
        margin-top: 3rem;
    }
/* #endregion */

/* #region main block styling */
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        padding: 1rem 2rem;
    }
    
    .project {
        margin: 1rem auto;
        max-width: 900px;
        width: 100%;

        background-color: #bde0de;
        border: 2px solid #00b36a;
        border-radius: 10px;
    }

    .project h2 {
        text-align: center;
        margin: 1rem auto 0.75rem;
        width: max-content;
        padding: 0.25rem 0.5rem;

        color: #00b36a;
        background-color: #cadde6;
        border: 1px solid #6dbbad;
        border-radius: 5px;
    }
    
    .project-media {
        display: block;
        box-sizing: border-box;
        padding: 0 0.75rem;
        width: 100%;
        margin: 0 auto;
    }

    .project p {
        text-align: center;
        padding: 0 5%;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .project ul {
        padding: 0 5%;
        list-style-position: inside;
    }
    .project ul li {
        margin: 0.5rem auto;
    }
/* #endregion */

/* #region footer styling */
footer {
    padding: 1rem 5% 0;

    background-color: #bde0de;
    border-top: 2px solid #00b36a;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    padding: 0;
}
/* #endregion */

/* Responsive Youtube Embedding Courtesy of https://avexdesigns.com/responsive-youtube-embed/ */
/* .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
     
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */