/* Palette (https://coolors.co/c9e5de-c9e0d7-76cca8-00b36a-515e65):
    #c9e5de -Background (Dull Aquamarine)
    #c9e0d7 -Card Background (Dull Greenish Grey)
    #76cca8 -Mild Accent (Minty Green)
    #00b36a -Accent (Green)
    #515e65 -Body (Greyish Black)
*/

/* #region general styling */
    html {
        font-family: 'Roboto', sans-serif;
        background-color: #c9e5de;
        color: #515e65;
    }
    h1, h2 {
        font-family: 'Merriweather', serif;
        color: #00b36a;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    hr {
        width: 99%;
        border: 1px dashed #00b368;
    }

    a {
        color: #00b36a;
    }
    a:visited {
        color: #76cca8;
    }
    a:focus, a:hover {
        background-color: #c9e0d7;
        color: #515e65;
    }
    a:active {
        background-color: #c9e0d7;
        color: black;
    }
/* #endregion */

/* #region header / top styling */
    nav {
        text-align: center;
        background-color: #c9e0d7;
        border-bottom: 5px double #00b368;
        padding: 0 1.5em;

        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        list-style-type: none;
        margin: 0 auto;
        padding: 0;

        width: 100%;
        max-width: 999px;
    }
    nav ul li *{
        margin: 0 auto;
        padding: 0.75em;
    }

    nav ul li:first-child {
        order: 3;
    }
    nav ul li:nth-child(2) {
        order: 1;
    }
    nav ul li:nth-child(3) {
        order: 2;
    }
    nav ul li:nth-child(4) {
        order: 4;
    }
    nav ul li:nth-child(5) {
        order: 5;
    }

    header {
        text-align: center;

        padding: 1rem;
        margin: 1rem 5% 0;
    }

    header img {
        width: 50%;
        max-width: 250px;
        border-radius: 100%;

        box-shadow: 0px 0px 10px 6px #b6d3a4;
        -moz-box-shadow: 0px 0px 10px 6px #b6d3a4;
        -webkit-box-shadow: 0px 0px 10px 6px #b6d3a4;
    }

    header p {
        font-size: 1.15rem;
    }
    
    header h2 {
        margin-top: 3rem;
    }
/* #endregion */

/* #region main / middle styling */
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        
        flex: 1;
        padding: 1rem 2rem;
    }
    
    .project {
        margin: 1rem auto;
        padding: 0 0.5rem;
        max-width: 100%;

        background-color: #c9e0d7;
        border: 2px solid #00b36a;
        border-radius: 10px;
    }

    .project h2 {
        text-align: center;
        margin: 1rem auto 0.75rem;
        width: max-content;
        padding: 0.25rem 0.5rem;

        color: #00b36a;
        background-color: #c9e5de;
        border: 1px solid #76cca8;
        border-radius: 5px;
    }
    
    /* Responsive Youtube Embedding Courtesy of https://avexdesigns.com/responsive-youtube-embed/ */
    .video-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .project p {
        text-align: center;
        padding: 0 5%;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .project ul {
        padding: 0 5%;
        list-style-position: inside;
    }
    .project ul li {
        margin: 0.5rem auto;
    }
/* #endregion */

/* #region footer / bottom styling */
footer {
    padding: 1rem 5% 0;

    border-top: 2px solid #00b36a;
}
/* #endregion */